@import url('reset.css');

.main_content-wrapper {
    max-width: 1130px;
    margin: 0 auto;

    margin-bottom: 70px;
}

.main_content-wrapper a {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-weight: 700;
    transition: color .1s linear;
}

.main_content-wrapper a:hover {
    color: #272727;
}

.main-line {
    position: relative;
}

.main-wrapper .main__title {
    text-transform: uppercase;
    font-family: 'Noto Serif Display', serif;
    font-weight: 900;
    letter-spacing: .02em;
    font-size: 1.3em;
    color: #4e4e4e;
    margin: 70px auto 10px auto;
    width: 180px;
    text-align: center;
    background-color: #FFFFFF;
}

.main-wrapper .line__inner {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 12px;
    z-index: -1;
    border-top: 4px solid #fff200;
    border-right: 4px solid #fff200;
    border-left: 4px solid #fff200;
}

.main-content {
    display: flex;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;
}

.main-content img {
    width: 100%;
}

.main-content .content-center {
    width: 55%;
    padding: 0 16px;
}

.main-content .content-left,
.main-content .content-right {
    width: 22.5%;
    padding: 0 16px;
}

.content-left img,
.content-right img {
    padding-bottom: 10px;
}

.content-left .content__title {
    font-size: 19.8px;
    line-height: 23.76px;
}

.center-theme {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    text-align: center;
    margin: 15px auto 5px auto;
    width: fit-content;
    background-color: #fff200;
}

.center-title {
    font-size: 36px;
    text-align: center;
}

.center-title-bottom {
    margin-top: 10px;
    color: #4e4e4e;
    font-size: 18px;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 100;
    text-align: center;
}

.center-author,
.center-author a {
    margin-top: 10px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 13.5px;
    text-align: center;
}

.center-author {
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.center-author a {
    font-weight: 100;
    color: #4c7e62;
}

.content-center .center-additional {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 24px 0;
}

.center-additional .title__desc {
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #868686;
}

.center-additional .title__author a {
    color: #395a48;
}

.center-additional .title__author,
.center-additional .title__author a {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 13.5px;
    font-weight: 300;
}

.additional-img {
    width: 220px;
}

.additional-title .title__desc {
    margin: 8px 0;
}

.left__main-title,
.right__main-title {
    font-family: 'Roboto Sans', sans-serif;
    font-weight: 200;
    color: #868686;
    font-size: 11.5px;
    line-height: 1.4;
    margin-top: 14px;
}

.right__title {
    margin-top: 10px;
}

.main-right-topic a {
    font-family: 'Roboto Sans', sans-serif;
    font-weight: 100;
    color: #5f5f5f;
    font-size: 11.25px;
    line-height: .2;
}

.right-author,
.right-author a {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 100;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 13.5px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.right-author a {
    color: #40634f;
}

.right-add {
    padding: 20px 0;
}

.right-add-2 .right__title {
    margin: 0;
}

.right-add-2 .right-author,
.right-add-2 .right-author a {
    border: none;
}
